<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Camera Test</title>
        <script src="./js/dist/Vibrant.js"></script>
        <script src="./js/dist/jquery.js"></script>
        <script src="./js/dist/jshue.js"></script>
        <script src="./js/video.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="booth">
            <video id="video" width="400" height="300" autoplay></video>
            <canvas id="canvas" width="400" height="300" style="display: none;"></canvas>
        </div>
        <div id="colorlist" class="myfloat">
            <div class="mycolor" style="background: #00ffff;">
                Test
            </div>
        </div>
        <h1 id="userstatus"></h1>
    </body>
</html>